
.cardWrapper {
    background-color: grey;
    height: 100%; 
    position: relative; 
    padding: 20px;
}


.closeButton {
    position: absolute; 
    top: 3%;
    right: 1%; 
    cursor: pointer; 
}

.cardGrid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
}

.overflow {
    overflow: hidden;
}

.sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
}