@import '../../styles/variables';


.title {
  @media (min-width: $break-point--small) {
    text-align: left;
  }
}

.wrapper {
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bottomWrapper {
  height: 15%;
  padding-top: 15px;
  padding-bottom: 15px;
}





